/* styles.css */
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Светло-серый фон */
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: calc(100% - 12px); /* Учитываем padding */
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    background-color: #4CAF50; /* Зеленый */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}

.output-area {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-height: 50px;  /* Чтобы область вывода всегда имела минимальную высоту */
    white-space: pre-wrap; /* Для переноса длинных строк */
}


